.form {
  .field_with_errors + input {
    width: 100%;
  }

  &__group {
    display: flex;
    flex-direction: column;
    margin: 13px 0;
    width: 100%;

    &--file-upload {
      align-items: center;
      border: 2px dashed #31a2ff;
      display: flex;
      height: 164px;
      justify-content: center;

      button {
        background-color: transparent;
        border: none;
        color: #31a2ff;
        cursor: pointer;
        outline: none
      }
    }
  }

  &__label {
    color: #777777;
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    margin-right: 13px;
  }

  &__field {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 35px;
    outline: none;
    padding: 0 13px;
    width: 100%;
  }

  &__button {
    align-items: center;
    background-color: #31a2ff;
    border: 1px solid #31a2ff;
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 36px;
    justify-content: center;
    margin: 0 auto;
    outline: none;
    width: 105px;
  }
  
  &__progress-bar {
    margin: 8px 0;

    .uppy-ProgressBar {
      background-color: #E8EBF1;
      height: 5px;
    }

    .uppy-ProgressBar-inner {
      background-color: #01BC8B;
      height: 100%;
      transition: 0.65s;
    }

    .uppy-ProgressBar-percentage {
      font-size: 0px;
    }
  }

  &__alert {
    animation-name: slide-up;
    animation-duration: 0.35s;
    bottom: 16px;
    position: fixed;
    left: 16px;

    &--error {
      li { 
        align-items: center;
        background-color: #ff4d4f;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        border-radius: 4px;
        color: white;
        display: flex;
        font-size: 16px;
        font-weight: 500;
        height: 45px;
        margin: 13px 0;
        padding: 0 16px;
        width: 225px;
      }
    }
  }

  &__image-preview-wrapper {
    position: relative;

    &--with-image {
      margin-top: 28px;

      &::before {
        align-items: center;
        background-color: #ff4d4f;
        color: #fff;
        content: 'x';
        cursor: pointer;
        display: flex;
        font-weight: 500;
        height: 25px;
        justify-content: center;
        position: absolute;
        right: -8px;
        top: -13px;
        width: 25px;
      }
    }
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(0px);
  }
}
